body {
	margin: 0;
	font-family: 'Otomanopee One', sans-serif;
	background-color: #cae4ed;
	position: relative;
}

#container {
	width: calc(100vw);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1, h2{
	padding: 15px;
	margin: 0;
	padding-bottom: 0px;
}

#form {
	padding: 15px;
	width: 75vw;
}

#myForm {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

#message {
	font-family: 'Roboto', sans-serif;
}

#requested{
	width: 100px;
}

button {
	width: 105px;
	height: 50px;
}