body {
	margin: 0;
	font-family: 'Otomanopee One', sans-serif;
	background-color: #cae4ed;
	position: relative;
}

#container {
	width: calc(100vw);
}

h1 {
	padding: 15px;
	margin: 0;
	padding-bottom: 0px;
}

#form {
	padding: 15px;
}

#myForm {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

#message, #requested {
	font-family: 'Roboto', sans-serif;
}

#requested{
	width: 100px;
}

button {
	width: 105px;
	height: 50px;
}

/*
- fix message alignment
- requested time (carnival booths only)
*/